@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.container {
  width: 100%;
}

.container .cover {
  position: absolute;
  left: 47.8%;
  height: 790px;
}

.container .cover img {
  width: auto;
  max-height: 100%;
}

.container .logo {
  padding-top: 120px;
  margin-left: 19%;
  padding-bottom: 20px;
}

.container .logo img {
  width: 150px;
}

.text a:hover {
  text-decoration: underline;
}

.title {
  color: rgb(102, 102, 103);
  font-size: 32px;
  font-weight: 100;
  padding-left: 18.5%;
  padding-bottom: 20px;
}
.check-text {
  display: flex;
}

.checkbox {
  margin-left: 13.5%;
}

.checkbox-round {
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.3rem;
  border: 2px solid rgb(102, 102, 103);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: #e00000;
}

.checkbox label {
  position: absolute;
  margin-left: 10px;
}

.text {
  justify-content: center;
  align-items: center;
  margin-left: 4.8%;
}

.text a {
  margin-left: 90px;
  text-decoration: none;
  color: #e00000;
  font-weight: 500;
}

@media (max-width: 730px) {
  .container .cover {
    display: none;
  }
  .form-content .login-form {
    width: 100%;
  }
}
